Testing results:

Does the prototype open/start correctly?	
- yes the prototype starts/ opens normally.
  <img width="589" height="253" alt="image" src="https://github.com/user-attachments/assets/0686d492-1d51-4479-bb92-905f4314b191" />

 
Is the welcome/title screen clear?
- yes the welcome/title screen is clear and easy to navigate
  <img width="589" height="253" alt="image" src="https://github.com/user-attachments/assets/4c90d028-acb0-42ae-ad7c-fab46ca4c30b" />


Are the instructions easy to understand?
- yes the instructions are clear and easy to understand.
  <img width="619" height="242" alt="image" src="https://github.com/user-attachments/assets/7cc03219-f30e-401f-a061-b674cb523902" />


Can the player identify what to click/do?	
- yes the action buttons are highlighted in easy to spot colors and has a clear action instruction. Plus the fonts are big and easy to read as well.
<img width="627" height="218" alt="image" src="https://github.com/user-attachments/assets/fc0e3b51-ce8a-4111-85e1-76509e9a35ce" />


Does the first cyber-safety challenge work?
- yes
 <img width="627" height="240" alt="image" src="https://github.com/user-attachments/assets/ca5208da-c9b1-4876-a7a6-ef6aeefb5582" />


Does any new challenge/interaction work?	
- yes
- <img width="643" height="265" alt="image" src="https://github.com/user-attachments/assets/d0ffc6f3-a57b-48b3-813a-a6f7b2a6aa8d" />



Does the correct answer show useful feedback?		
-  no/  in progress
  <img width="753" height="271" alt="image" src="https://github.com/user-attachments/assets/fd297946-8115-4349-abd6-eb223452f0c2" />


Does the wrong answer show helpful feedback?
- no/in progress
  <img width="720" height="277" alt="image" src="https://github.com/user-attachments/assets/a866e565-3aba-4b19-86bc-940e67983083" />

  
Does the feedback teach a cyber-safety lesson?		
- Shows it is an incorrect answer but not the cyber safety lesson yet.

Is there a reward, score, star, badge or progress message?	
- yes
<img width="620" height="227" alt="image" src="https://github.com/user-attachments/assets/034dd114-9aa7-49f0-99cd-707dfb279c57" />


Is the prototype suitable for the target audience?
- the colors are children friendly and engaging, and the instructions are easy to understand.

What must be improved before next week?	
- while the instructions are clear, it could be improved by reducing the word count and enlarging the font. the instructions after the first interface can be improved.
