Testing results:

Does the prototype open/start correctly?	
- yes the prototype starts/ opens normally.
 
Is the welcome/title screen clear?
- yes the welcome/title screen is clear and easy to navigate

Are the instructions easy to understand?
- yes the instructions are clear and easy to understand.

Can the player identify what to click/do?	
- yes the action buttons are highlighted in easy to spot colors and has a clear action instruction. Plus the fonts are big and easy to read as well.

Does the first cyber-safety challenge work?
- yes

Does any new challenge/interaction work?	
- yes


Does the correct answer show useful feedback?		
-  yes

Does the wrong answer show helpful feedback?
- yes 

Does the feedback teach a cyber-safety lesson?		
- Shows it is an incorrect answer but not the cyber safety lesson yet.

Is there a reward, score, star, badge or progress message?	
- yes

Is the prototype suitable for the target audience?
- the colors are children friendly and engaging, and the instructions are easy to understand.

What must be improved before next week?	
- while the instructions are clear, it could be improved by reducing the word count and enlarging the font. the instructions after the first interface can be improved.
