Testing Plan – Prototype final Version 


Game Tittle:
CybShield 


Date
29 May 2026


Testing Goal
Check whether the prototype works correctly and whether users can understand and complete the first cyber-safety challenge.


Does the prototype open or start correctly?

Yes HTML file opened successfully in browser 

<img width="595" height="258" alt="image" src="https://github.com/user-attachments/assets/eba73866-d3c6-45e1-8db5-6cee93ba5da7" />




 
 Is the welcome/title screen clear? 
 
 Yes Game title is visible and readable 
 <img width="595" height="258" alt="image" src="https://github.com/user-attachments/assets/b90c8acc-97a6-4001-8709-8307efe8c4a9" />

 


Are the instructions easy to understand? 

 Yes  Instructions use simple language
 <img width="608" height="272" alt="image" src="https://github.com/user-attachments/assets/1f4ac2a1-0456-4c5b-89fa-90428b870eb6" />



can the player understand what to do next?
yes, the next action button after every question is clearly visible in the screen.
<img width="614" height="292" alt="image" src="https://github.com/user-attachments/assets/c50f6db8-b36d-42ea-b598-4f4171200c92" />


 
 do the choices, buttons or interactions work?
 yes, the buttons and interactions function normally.
 <img width="618" height="248" alt="image" src="https://github.com/user-attachments/assets/469d68c9-f186-44e1-9fc6-0b7c8c916cd5" />




Does the correct answer show correct feedback? 

 Yes  Success message appears after correct choice 
 <img width="618" height="248" alt="image" src="https://github.com/user-attachments/assets/80384100-67b7-45a6-b519-1d45e622dc5d" />



 
 Does the wrong answer show helpful feedback?
 
 Yes  User receives explanation and retry message 
 <img width="626" height="249" alt="image" src="https://github.com/user-attachments/assets/9cb8dfb1-4ce6-4de2-8cbe-44d307521ef2" />

 


Does the feedback explain the cyber-safety lesson? 

 Yes  Feedback explains safe online behaviour 
 <img width="603" height="265" alt="image" src="https://github.com/user-attachments/assets/6998a448-399a-4b54-8312-078145547f71" />




Is there a reward, score, star or success message? 

 Yes Star reward message appears 
 <img width="626" height="349" alt="image" src="https://github.com/user-attachments/assets/62e577d1-bf44-4662-ab01-55328979939c" />

 
 


Is the design suitable for the target audience? 

 Yes  Colours, font size and buttons are suitable for children aged 10-15.



Testing Outcome – What Worked Well?

- Prototype opened correctly in the browser
- Buttons worked correctly when clicked
- Feedback messages appeared after user choices
- Cyber-safety lesson was easy to understand
- Layout was simple and readable



